.navbar {
  margin-top: 20px;
}

.shot .title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 200;
}

.stats {
  background: #CCC;
  opacity: 0.5;
  text-align: center;
  padding: 4px 0;
}

.stats .stat {
  padding: 5px;
}

.shot_image {
  width: 100%;
}

.shot_header {
  margin-bottom: 20px;
}

.shot_header h1 {
  font-size: 24px;
  line-height: 1;
  margin-top: 5px;
}

.shot_header img {
  height: 60px;
}


.comment img {
  height: 60px;
  width: 60px;
}

/* My styles */

.brand {
  font-family: 'Abril Fatface', cursive;
  color: black !important;
  letter-spacing: 2px;
}

.title {
  padding-top: 4px;
}

.author {
  padding-bottom: 4px;
}

.avatar {
  border-radius: 8px;
}

.date {
  font-weight: 200;
}

.comment {
  background-color: rgba(223, 223, 223, 0.15);
  border-radius: 10px;
  padding: 10px;
}

.comment p {
  padding-left: 5px;
  margin-top: 4px;
}

body {
  margin-bottom: 60px;
}

/* Profile Styles */

.profile_stats {
  padding-left: 0;
}

.profile_pic {
  margin-top: 30px;
  border-radius: 8px;
}

.profile_icon {
  margin-right: 4px;
}

#username {
  background-color: rgba(255, 113, 211, 0.15);
  display: inline-block;
  padding: 0px 10px;
  border-radius: 12px;
  margin: 0;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
