<div class="row">
  <div class="span3 offset1">
    <img ng-src="{{ user.data.avatar_url }}" class="profile_pic one-edge-shadow pull-right"/>
  </div>
  <div class="span6 offset1">
    <h1 id="name">{{ user.data.name }}</h1>
    <hr id="profile_row">
    <h3 id="username">{{ user.data.username }}</h3><a href="{{ user.data.html_url}}" class="btn btn-mini" id="dribbble_profile" target="_blank">View Dribbble Profile</a>
    <h6 ng-show="user.data.location"><i class="icon-globe profile_icon"></i>{{ user.data.location }}</h6>
    <h6 ng-show="!user.data.location"><i class="icon-globe profile_icon"></i>Location not specified :(</h6>
    <p>{{ user.data.bio }}</p>
    <ul class="nav nav-list profile_stats">
      <li>
        <i class="icon-user"></i>
        {{ user.data.followers_count }} followers
      </li>
      <li>
        <i class="icon-tint"></i>
        {{ user.data.shots_count }} shots
      </li>
      <li>
        <i class="icon-heart"></i>
        {{ user.data.likes_received_count }} likes received
      </li>
      <li>
        <i class="icon-share-alt"></i>
        {{ user.data.rebounds_received_count }} rebounds received
      </li>
      <li>
        <i class="icon-comment"></i>
        {{ user.data.comments_received_count }} comments received
      </li>
    </ul>
  </div>
</div>
