<div ng-controller="ShowCtrl">
  <div class="media shot_header">
    <div class="pull-left">
      <img class="media-object" ng-src="{{shot.data.user.avatar_url}}" >
    </div>
    <div class="media-body">
      <h1>{{shot.data.title}}</h1>
      <span class="muted">by</span>
      <a href="#/players/{{shot.data.user.username}}">
        {{shot.data.user.name}}
      </a> | {{ shot.data.created_at | dunnnkDate:"MMM d, yyyy" }}
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">
    <img class="shot_image" ng-src="{{ shot.data.images.hidpi }}">
    <!-- comments section -->
    <div class="page-header">
      <h2>{{ comments.data.length }} Comments</h2>
    </div>
    <!-- comments go here -->
    <div ng-repeat = "comment in comments.data" class="media comment">
      <div class="pull-left">
        <img class="media-object avatar" ng-src="{{comment.user.avatar_url}}">
      </div>
      <div class="media-body">
        <strong class="comment">
          <a href="#/user/{{comment.user.id}}">
            {{comment.user.name}}
          </a>
            <span class="date"><i class="icon-hand-right" style="margin-left: 6px;"></i> {{ comment.created_at | dunnnkDate:"MMM d, yyyy" }}</span>
        </strong>
        <p ng-bind-html-unsafe="comment.body"></p>
      </div>
    </div>
  </div>
  <div class="span3">
    <ul class="nav nav-list">
      <li>
        <i class="icon-heart"></i>
        {{shot.data.likes_count}} Likes
      </li>
      <li>
        <i class="icon-eye-open"></i>
        {{shot.data.views_count}} Views
      </li>
      <li>
        <i class="icon-share-alt"></i>
        {{shot.data.rebounds_count}} Rebounds
      </li>
      <li>
        <i class="icon-comment"></i>
        {{shot.data.comments_count}} Comments
      </li>
    </ul>
    </div>
</div>
